body {
    font-family: 'Noto Serif', serif;
    padding-top: 20px;
    background: linear-gradient(to bottom, #2D952D,#2d952de1, #2d952dc7,#2b9c2bd7, #072201d7); 
}

.img-fluid.logo {
    margin-left: 40%;
    margin-top: -10%;
    max-width: 20%;
    height: auto;
}

h1 {
    font-family: 'Anton', sans-serif;
    color: #ffeb3b;
    text-shadow: 2px 2px 4px rgba(6, 66, 3, 0.692);
    font-size: 2.9vw !important; 
    line-height: 1.2; 
    letter-spacing: 1px; 
    text-align: left; 
    text-transform: uppercase;   
}

.TextHeader{
    font-family: 'Anton', sans-serif;
    color: #ffeb3b;
    text-shadow: 2px 2px 4px rgba(6, 66, 3, 0.692);
    font-size: 2.9vw; 
    line-height: 1.2; 
    letter-spacing: 1px; 
    text-align: left;
    text-transform: uppercase;
}


.TextCores {
    font-size: 1rem;
    margin-bottom: 20px;
}

.Rack {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.Rack:hover {
    transform: scale(1.1);
}

.Principal {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.custom-align {
    margin-top: 20px;
}

.tittleP, .tittleP2 {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pText, .pText2, .mText {
    font-size: 1rem;
    margin-bottom: 15px;
}

.Dimensoes {
    font-size: 1.5rem;
    margin-top: 20px;
}

.medidas {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.Pdf {
    margin-top: 20px;
    font-size: 1rem;
}

.highlight-text {
    font-weight: bold;
    color: #007bff; /* Cor azul Bootstrap padrão */
    font-size: 1.2rem;
    margin-top: 20px;
}





























































/* body {
    margin: 0p;
    padding: 0px;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #2D952D,#2d952de1, #2d952dc7,#2b9c2bd7, #072201d7); 
}

.containerPrincipal, .containerInicial, .containerFinal, .container{
    text-align: center;
    width: 100%; 
    padding: 0px; 
}

section.logon {
    margin-top: -8%;
}

.logo {
    max-height: 200px; 
}

header {
    padding: 20px;  
}

h1, .TextHeader, .TextCores {
    width: 100%; 
    max-width: 500px; 
    margin: 20px auto;
}

h1{
    position: relative;
    top: -2vw; 
    right: 30%;
    font-family: 'Anton', sans-serif;
    color: #ffeb3b;
    text-shadow: 2px 2px 4px rgba(6, 66, 3, 0.692);
    font-size: 2.9vw !important; 
    line-height: 1.2; 
    letter-spacing: 1px; 
    text-align: center; 
    text-transform: uppercase;   
}

.TextHeader{
    width:100%;
    padding: 5px;
    font-family: 'Anton', sans-serif;
    color: #ffeb3b;
    text-shadow: 2px 2px 4px rgba(6, 66, 3, 0.692);
    font-size: 2.9vw; 
    line-height: 1.2; 
    letter-spacing: 1px; 
    text-align: left;
    text-transform: uppercase;
}

.img-fluid.Rack{
    max-width: 170%;
    width: 1000px;

}

.TextCores{
    width: 100%;
    padding: 5px;
    font-family: 'Anton', sans-serif;
    color: #ffeb3b;
    text-shadow: 2px 2px 4px rgba(6, 66, 3, 0.692);
    font-size: 2.9vw !important; 
    line-height: 1.2; 
    letter-spacing: 1px; 
    text-align: left;
    text-transform: uppercase;
}

.custom-align {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .tittleP {
    font-family: 'Anton', sans-serif;
    color: #ffeb3b;
    text-shadow: 2px 2px 4px rgba(6, 66, 3, 0.692);
    font-size: 2vw;
    line-height: 0.8;
    letter-spacing: 4px;
    text-align: left;
    text-transform: uppercase;
  }

  .pText {
    background-color: #f7f7f7;
    padding: 15px;
    border-radius: 15px;
    text-align: justify;
    font-size: 1vw;
    font-family: 'Open Sans', sans-serif !important;
    color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .img-Principal {
    padding: 0px;
  }

  .img-fluid.Principal {
    width: 100%;
    max-height: 700px;
    border-radius: 80px;
    height: auto;
  }


  .Dimensoes {
    width: 100%;
    padding: 10px; 
    font-family: 'Anton', sans-serif;
    color: #2D952D;
    text-shadow: 2px 2px 4px rgba(144, 160, 4, 0.8); 
    font-size: 2.9vw; 
    line-height: 1.2;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid #2D952D; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgb(255, 235, 59);;
    background-color:white ;
    z-index: 1;
}


.img-fluid.medidas {
    max-width: 200%;
    width: 1000px;
    height: auto;
    clip-path: polygon(0 21%, 51.5% -0%, 100% 21%, 100% 100%, 0 100%);
    background-color: white;
  }
  
.custom-alignDois{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.titleP2{
    width: 100%;
    font-family: 'Anton', sans-serif;
    color: #ffeb3b;
    text-shadow: 2px 2px 4px rgba(6, 66, 3, 0.692);
    font-size: 3.4rem !important; 
    line-height: 1.2; 
    letter-spacing: 1px; 
    text-align: center; 
    text-transform: uppercase;

}

.pText2{
    width: 100%;
    height: auto;
    background-color: #f7f7f7; 
    padding: 20px; 
    border-radius: 15px; 
    text-align: justify; 
    font-size: 18px; 
    font-family: 'Open Sans', sans-serif !important;
    color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

.Pdf {
    text-decoration: none !important;
    color: #fff;
    background-color: #28a745;
    padding: 15px 30px; 
    border-radius: 5px;
    display: inline-block;
    width: 200px;
    text-align: center; 
    font-weight: bold; 
}


.highlight-text{
    width: 180%;
    padding: 10px;
    font-family:  sans-serif;
    color: #ffeb3b;
    text-shadow: 2px 2px 4px rgba(6, 66, 3, 0.692);
    font-size: 1.5vw; 
    line-height: 1.2; 
    letter-spacing: 1px; 
    text-align: left; 
    font-weight: bolder;
    text-transform: uppercase;

}






































 */
























/* @media only screen and (max-width:1288px){
 
    .logo {
        top:-13vw; 
        right: 51%;
        margin-top: 5%; 
        max-width: 20%;
        max-height: 250px; 
    }
    
    h1{
        top: 4vw; 
        right: 128%;
    }

    .TextHeader{
        top: 5.5vw; 
        right: 102.5%;
    }

    .TextCores{
        top: 20vw;
        right: 15%;
    }

    .img-fluid.Rack{
        margin-left: -20%;
        margin-top: 5%;
    }

    .tittleP {
        margin-top: -20%;
        margin-bottom: 0%;  
    }
    
    .pText {
        margin-top: -20%;
        margin-bottom: 0%;
    }
    
    .img-fluid.Principal {
        margin-top: -20%;
    }
    
    .Dimensoes {
        top: 5vw;
    }


    .img-fluid.medidas {
        margin-top: 5%;
        margin-left: 10%;
        margin-bottom: 5%;
    }
    

}

 */




